body {
    font-size:14px!important;
}

#afui .header {
    height:44px!important;
}

#afui .header h1 {
    width:80%!important;
/*    font-size:45px!important;*/
    left:2%!important;
}

#afui .footer { 
    height:49px!important;
}

#afui footer>a:not(.button) {
     height: 43px!important;
     width: 25%!important;
}
#afui  .header h1 {
    width:90%!important;
}

.icon.settings {
  position: absolute !important;
  right: 5px;
}

/*
#afui #backButton {
    display: none!important;
}
*/

