body {
    font-size:14px!important;
}

#afui .header {
    height:44px!important;
}

#afui .header h1 {
    width:80%!important;
/*    font-size:45px!important;*/
    left:2%!important;
}

#afui .footer { 
    height:49px!important;
}

#afui footer>a:not(.button) {
     height: 43px!important;
     width: 25%!important;
}
#afui  .header h1 {
    width:90%!important;
}

.icon.settings {
  position: absolute !important;
  right: 5px;
}

/*
#afui #backButton {
    display: none!important;
}
*/

/********/
/* NEWS */
/********/

.news-image { width: 100%; margin-top: 1em; }
.news-date { color: #444; }
.news-title { font-size: 120%; padding:0 0 0.5em; }
.news-story { padding: 1em 0.5em; }
.news-story h1 { padding:0 0 0.2em; }

/**********/
/* EVENTS */
/**********/

.event-image { width: 100%; margin-top: 1em; }
.event-date { font-size: 120%; color: #444; top: 60px;}
.event-title { font-size: 150%; padding:10px 0; font-weight: bold; }
.event-story { padding: 1em 0.5em; }
.event-story h1 { padding:0 0 0.2em; }

/**************/
/* CANDIDATES */
/**************/

.can-image { width: 70px; display: inline; margin: 0 10px 0 0; }
.can-party { font-size: 120%; color: #444; display: inline; position: absolute; top: 60px;}
.can-name { font-size: 150%; padding:10px 0; display: inline; position: absolute; font-weight: bold; }
.can-details { padding: 1em 0.5em; }
.can-details h1 { padding:0 0 0.2em; }
#can li { padding: 0 !important; }